body{
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0;
}
*{
   font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
 header{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100vw;
    background-color: #1f2937;
    padding: 60px;
 }

 .logo{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    font-size: 24px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: #f9faf8;
    padding-top: 15px;
 }

 .section{
    display: flex;
    flex-direction: column;
    padding: 30px;
 }

.headerimg{
   
    border-radius: 10%;
    width: 450px;
 }

 a{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
 }
 nav>ul{
    display: flex;
    justify-content: space-around;
    gap: 35px;
    align-items: flex-end;
    list-style: none;
    text-decoration: none;

    
 }
 

 .bottom{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
 }
 .reviews{
    background-color: #e5e7eb;
    font-style: italic;
    font-weight: lighter;
    color: 1f2937;
    font-size: 36px;
    padding-right:200px ;
    padding-left:200px ;
    padding-top: 100px;
    text-align:left;
 }
.second{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
   

 }

 .second2{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   gap: 20px;
  

}


 .image1, .image2, .image3, .image4{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    gap: 15px;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    border: #3882f6 3px solid ;
    border-radius: 10%;
    width: 250px;
    
 }

 h4{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #dbdde1;
    font-size: 18px;
   

 }

.top{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 160px;
}
.action>button{
    width: 150px;
    padding: 7px 35px ;
    background-color: #3882f6;
    color: #f9faf8;
    border: 2px #f9faf8 solid;
    border-radius: 5px;
}

button{
   width: 150px;
   padding: 7px 35px ;
   background-color: #3882f6;
   color: #f9faf8;
   border: 1px #3882f6;
   border-radius: 5px;
   

}
.par1{
    box-sizing: border-box;
    width: 500px;
    margin-top: 3px;
    color: #f8faf9;
   
}
.left.bottom{
   display: flex;
   justify-content: flex-start;
}
.right.bottom{
   display: flex;
   justify-content: flex-end;
   width: 50vw;
}

.headerp2{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items:normal;
}

.images{
   margin-right: 50px;
}

.maintitle{
   font-size: 48px;
   color:#f9faf8;
}
h5{
   text-align: right;
}

.action{
   display: flex;
   justify-content: space-between;
   gap: 80px;
   background-color: #3882f6;
   width: 70vw;
   align-items: center;
   margin-top: 100px;
   margin-left: 10vw;
   margin-right: 15vw;
   margin-bottom: 100px;
   padding-left: 70px;
   padding-right: 70px;
   padding-top: 30px;
   padding-bottom: 30px;
   text-align: left;
}

footer{
   background-color: #1f2937;
   display: flex;
   justify-content: center;
   align-items: flex-end;
   margin-top: 30px;
   height: 50px;
   color:#e5e7eb;
   padding-bottom: 30px;
}
h2{
   color: #1f2937;
   margin-top: 50px;
   font-weight: bolder;
}
